@model WebApplication2.Models.Category
@{
    ViewBag.Title = "Edit";
}

<h2>產品分類修改</h2>

@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { novalidate = "novalidate", enctype = "multipart/form-data" }))
{

    <form method="post" action="~/Category/Edit">
        <div class="form-group row">
            <label for="inputCategoryName" class="col-sm-2 col-form-label">分類名稱</label>
            <div class="col-sm-10">
                <input type="hidden" value="@Model.CategoryID" name="CategoryID" />
                <input type="text" value="@Model.CategoryName" required class="form-control" name="CategoryName" id="inputCategoryName" placeholder="Category Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDescription" class="col-sm-2 col-form-label">分類描述</label>
            <div class="col-sm-10">
                <input type="text" value="@Model.Description" required class="form-control" name="Description" id="inputDescription" placeholder="Description">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDescription" class="col-sm-2 col-form-label">分類圖片</label>
            <div class="col-sm-10">
                <img src="@Url.Action("GetImageByte", "Category",new { id=Model.CategoryID})" title="@Model.ProductImage">
                @Html.EditorFor(p => p.ProductImage, new { HtmlAttributes = new { type = "file", @class = "form-control", placeholder = "ProductImage" } })
                @*<input type="file" class="form-control" name="ProductImage" />*@
                <p class="text-danger">@ViewBag.message</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">修改</button>
            </div>
        </div>
    </form>


}





