@model IEnumerable<WebApplication2.Models.Category>
@{
    ViewBag.Title = "Index";
}


<div class="py-2"></div>
<h2>產品分類資料</h2>
<a href="~/Category/Create" class="btn btn-primary">新增分類</a>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>分類編號</th>
            <th>分類圖片</th>
            <th>分類名稱</th>
            <th>描述</th>
            <th>編輯</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var _category in Model)
        {
            <tr>
                <td>@_category.CategoryID</td>
                <td><img src="@Url.Action("GetImageByte", "Category",new { id=_category.CategoryID})" title="@_category.CategoryName"></td>
                <td>@_category.CategoryName</td>
                <td>@_category.Description</td>
                <td><a href="~/Category/Edit/@_category.CategoryID" class="btn btn-primary">編輯</a></td>
                <td><a href="~/Category/Delete/@_category.CategoryID" class="btn btn-danger">刪除</a></td>
            </tr>
        }
    </tbody>
</table>
